type proc_schedboost, proc_type;

# Allow writing to files in /proc/touchpanel
allow hal_power_default proc_touchpanel:dir search;
allow hal_power_default proc_touchpanel:file rw_file_perms;
allow hal_power_default cgroup:file r_file_perms;

allow hal_power_default sysfs_kgsl:lnk_file read;
allow hal_power_default debugfs_system_stats:file { open read getattr };
allow hal_power_default sysfs_graphics:file { read open };

allow hal_power_default sysfs_devices_system_cpu:file rw_file_perms;
allow hal_power_default proc_schedboost:file { open write };
allow hal_power_default sysfs_kgsl:file rw_file_perms;
allow hal_power_default sysfs_devfreq:file rw_file_perms;
allow hal_power_default sysfs_devfreq:dir search;

set_prop(hal_power_default, vendor_power_prop)

allow hal_power_default {
  vendor_sysfs_devfreq
  sysfs_msm_subsys
  sysfs_touchpanel
  sysfs_fs_f2fs
}:dir search;

allow hal_power_default {
  cgroup
  proc
  vendor_sysfs_devfreq
  sysfs_devices_system_cpu
  vendor_sysfs_graphics
  vendor_sysfs_kgsl
  sysfs_msm_subsys
  vendor_sysfs_scsi_host
  vendor_sysfs_scsi_host
  sysfs_touchpanel
  sysfs_fs_f2fs
}:{
  file
  lnk_file
} rw_file_perms;
